name: coverage
on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24.4"
      - uses: actions/checkout@v6
      - run: go test -coverprofile=token-exchange.cov -coverpkg=./... ./...
      - uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: token-exchange.cov
          parallel: true
  finish:
    needs: coverage
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true
